:root{
	font-size: 16px;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}

.main-container{
	margin: auto;
	width:94%;
	max-width: 1200px;
	text-align: center;
}

.adjust{
	padding-right: 17px;
}

.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 99;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.modal{
	
	overflow-x: hidden;
	overflow-y: auto;
	margin: auto;
	width: 90vw;
	max-width: 600px;
	min-height: 100px;
	max-height: 90vh;
	margin-top: 20px;

	border: 1px solid #e9ecef;
	border-radius: 5px;
	background-color: white;
}

.modal-head,.modal-body{
	border-bottom: 1px solid #e9ecef;
	padding: 10px;
}

.modal-head{
	position: relative;
	top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;	
}

.modal-title{
	width: 90%;
	color: black;
	font-size: 1.3rem;
	font-weight: bold;
}

.modal-close-btn{
	width: 10%;
	text-align: right;
	padding: 0;
}

.modal-close-btn button{
	font-size: 1.5rem;
	color:gray;
	background-color: inherit;
	border: 0;
	position: relative;
	top: -10px;
	padding: 0
}

.modal-close-btn button:hover{
	color: black;
	cursor: pointer;
}


.modal-footer{
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.modal-close,.modal-ok,.modal-btn{
	color: white;	
	border-radius: 5px;
	padding: 5px;
	font-size: 1rem;
	font-weight: 400;
}
.modal-close{
	border: 1px solid #6c757d;
	background-color: #6c757d;
	margin-right: 1rem;
}

.modal-close:hover{
	cursor: pointer;
	background-color: #545b62;
	border: 1px solid #545b62;

	
}

.modal-ok,.modal-btn{
	border: 1px solid #007bff;
	background-color: #007bff;
}

.modal-ok:hover,.modal-btn:hover{
	cursor: pointer;
	background-color: #0069d9;
	border: 1px solid #0069d9;
}

.modal-btn{
	margin-top: 30%;
}

@media screen and (max-width: 768px){

	.adjust{
		padding-right: 0;
	}

}